body {
  margin: auto;
}

#btn-start,
#btn-play-again,
#btn-settings {
  box-sizing: border-box;
  width: 300px;
  height: 80px;
  background: #37a8c8;
  border: 3px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
}

h1{
  font-weight: 600;
  font-size: 150px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 6px 6px #5F2C01;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#start-screen {
  width: 100vw;
  height: 100vh;
  background: url("../images/Ducks.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  /* display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center; */
}

#start-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#gameover-screen {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#win {
  width: 40%;
}

#lose {
  width: 50%;
}

#canvas {
  position: relative;
}

#typeHere {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 40%;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.9;
  border: 3px solid #5f2c01;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-size: 30px;
  text-align: center;
}

#annex {
  position: absolute;
  top: 10%;
  right: 5%;
  padding: 0% 5%;
  color: #ffffff;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* settings box*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #37a8c8;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
  text-align: center;
  border: 3px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 4rem;
}

.modal-content button,
#kids-goal {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#music-toggle {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #3e8e41;
}

.modal-content button.selected {
  background-color: #3e8e41;
}
