body{
    margin: auto;
}

main{
    display: flex;
    justify-content: space-between;
}

#lobby {
    /* float: left; */
    display: flex;
    flex-direction: column;
    padding: 0% 5%;
    text-align: center;
}

#game-board {
    /* float: left; */
    padding: 0% 0%;
    display: flex;
    flex-direction: column;
}

#typeHere{
    text-align: center;
}

#annex {
    /* float: left; */
    padding: 0% 5%;  
}